@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/AvCol Logo Black on White Landscape.png"
         alt="AvcolLogo"
         style="height: auto; width: 70%; display:block; margin-left:auto; margin-right:auto;" />
</div>
<div class="text-center">
    <h1 style="color: black">Welcome to the Avcol Facility Manager!</h1>
   
</div>
<hr size="5" />
