@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/AvCol Logo Black on White Landscape.png"
         alt="AvcolLogo"
         style="height: auto; width: 70%; display:block; margin-left:auto; margin-right:auto;" />
</div>
<div class="text-center">
    <h1 style="color: black">Welcome to the Avcol Facility Manager!</h1>
   
</div>
<hr size="5" />
<div class="container">
    <div class="row justify-content-center">
       
        <div class="col-md-4 mb-4">
            <div class="card">
                <a asp-controller="Facilities" asp-action="Index">
                    <img src="~/images/Home icon.jpg" class="card-img-top" alt="FacilitiesPicture">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Our Facilities</h5>
                    <p class="card-text">Explore the range of facilities available at Avcol.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-4">
            <div class="card">
                <a asp-controller="Bookings" asp-action="Index">
                    <img src="~/images/Booking icon.jpg" class="card-img-top" alt="BookingsPicture">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Make a Booking</h5>
                    <p class="card-text">Reserve a facility for your next event or activity.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <a asp-controller="Reviews" asp-action="Index">
                    <img src="~/images/Reviews icon.jpg" class="card-img-top" alt="ReviewsPicture">
                </a>
                <div class="card-body">
                    <h5 class="card-title">See Our Reviews</h5>
                    <p class="card-text">Read what others are saying about our facilities.</p>
                </div>
            </div>
        </div>
    </div>
</div>



