@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We collect personal information from you, which may include:
</p>
<ul>
    <li>Your name</li>
    <li>Your contact information (such as email address and phone number)</li>
</ul>

<p>
    This information is collected for the following purpose:
</p>
<ul>
    <li>To contact users and associate relevant information with them (e.g., for bookings).</li>
</ul>

<p>
    Providing some personal information is optional. However, if you choose not to provide contact details, we may be unable to offer certain services, such as booking confirmations.
</p>

<p>
    You have the right to request a copy of the personal information we hold about you and to ask for corrections if you believe any of the information is inaccurate.
</p>

<p>
    To request access to your personal information or to request a correction, please contact us at:
</p>
<ul>
    <li>Email: <a href="mailto:ac122317@avcol.school.nz">ac122317@avcol.school.nz</a></li>
    <li>Phone: 022 222 2222</li>
    <li>Address: 51 Victor Street, Avondale, Auckland 1026</li>
</ul>
